
<div class="row">
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"></span>
        </div>
        <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
</div>
